In [ ]:
array = ['python', 'PHP', 'java', 'C++']

In [ ]:
for x in array:
  a = x.capitalize()
  print(a)

Python
Php
Java
C++

In [ ]:
for x in array:
  a = x.lower()
  print(a)

python
php
java
c++

In [ ]:
for x in array:
  a = x.upper()
  print(a)

PYTHON
PHP
JAVA
C++

In [ ]:
for x in array:
  a = x.swapcase()
  print(a)

PYTHON
php
JAVA
c++

In [ ]:
for x in array:
  a = x.title()
  print(a)

Python
Php
Java
C++

In [ ]:
import numpy as np
arr = [('James', 5, 48.5),('Nail', 6, 52.5),('Paul',5,62.7),('Pit', 5, 40.11)]


dtype = [('name', 'S10'), ('age', int),  ('height', float)]
values = [('James', 5, 48.5),('Nail', 6, 52.5),('Paul',5,62.7),('Pit', 5, 40.11)]
a = np.array(values, dtype=dtype)

b = np.sort(a, order='height')
b

array([(b'Pit', 5, 40.11), (b'James', 5, 48.5 ), (b'Nail', 6, 52.5 ),
       (b'Paul', 5, 62.7 )],
      dtype=[('name', 'S10'), ('age', '<i8'), ('height', '<f8')])